:root {
  --primary: #1a4855;
  --secondary: #628e75;
  --gray: #f9f9f9;
  --primary-font: #212429;
  --secondary-font: #a4a4a4;
}

body {
  font-family: 'Poppins' !important;
}

.container-body {
  box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
  background: linear-gradient(130deg, rgba(98, 142, 117, 1) 0.66%, rgba(26, 72, 85, 1) 83.32%);
  min-height: 100vh;
  padding: 0 100px;
}

.logo {
  height: 50px;
}

.container-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 165px;
}

.button {
  padding: 0 100px;
}

.text-decoration {
  text-decoration: none;
}

.img-button {
  padding: 16px;
}

.container-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-two {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 255px 0 165px;
}

.container-two h2 {
  font-size: 20px;
  color: var(--gray);
  font-weight: 700;
  line-height: 30px;
  margin-top: 38px;
}

.container-two h1 {
  font-size: 68px;
  color: var(--gray);
  font-weight: 900;
  line-height: 74px;
  margin-top: 15px;
}

.container-two p {
  font-size: 16px;
  color: var(--gray);
  font-weight: 200;
  line-height: 28px;
  padding: 25px 0 0;
}

.container-three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 0 100px 0 0;
}

.imgChihiro {
  height: 515px;
  padding: 0 100px 0 0;
}

.div-button {
  display: flex;
  align-items: center;
  padding: 0 0 0 176px;
}

.icon-play {
  margin: 0 10px;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--secondary);
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: skew(-25deg);
}

.link>* {
  z-index: 10;
}

.link.watch-trailer::before {
  background: none;
  border: 2px solid var(--secondary);
}

.play-now {
  padding: 15px 34px;
}

.watch-trailer {
  padding: 16px 34px;
  margin: 0 18px 0;
}

.link:visited, .link:link {
  color: #FFF;
}

@media screen and (max-width: 1280px) {
  .container-body {
    padding: 20px;
  }
  .container-first {
    margin-bottom: 100px;
  }
  .container-two {
    padding: 0 100px 0 0;
  }
  .container-three {
    padding: 0;
  }
  .imgChihiro {
    height: 350px;
    padding: 0;
  }
  .div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 10px;
  }
  .play-now {
    padding: 10px 5px 10px 5px;
  }
  .watch-trailer {
    padding: 10px 5px 10px 5px;
    margin: 0 18px 0;
  }
}

@media screen and (max-width: 800px) {
  .container-first {
    padding: 0;
  }
  .logo {
    height: 80px;
  }
  .container-main {
    display: grid;
    place-items: center;
  }
  .container-two {
    padding: 0;
  }
  .container-two h1 {
    font-size: 40px;
    line-height: 50px; 
  }
  .button {
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .container-body {
    padding: 20px;
  }
  .container-first {
    padding: 0;
  }
  .container-two {
    padding: 0;
  }
  .container-two h2 {
    font-size: 20px;
    color: var(--gray);
    font-weight: 700;
    line-height: 60px;
    margin-top: 38px;
  }
  .container-two h1 {
    font-size: 30px;
    line-height: 35px;
    margin: 0;
  }
  .button {
    padding: 0;
  }
  .img-button {
    padding: 16px 10px;
  }
  .container-main {
    display: grid;
    place-items: center;
  }
  .container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .imgChihiro {
    height: 200px;
    padding: 0;
  }
  .div-button {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
  }
  .play-now {
    padding: 10px 5px 10px 5px;
  }
  .watch-trailer {
    padding: 10px 5px 10px 5px;
    margin: 0 18px 0;
  }
}

@media screen and (max-width: 320px) {
  .container-first {
    padding: 0;
  }
  .logo {
    height: 50px;
  }
  .button {
    padding: 0;
  }
  .img-button {
    padding: 5px;
  }
  .container-main {
    display: grid;
    place-items: center;
  }
  .container-two {
    padding: 0;
  }
  .container-two h2 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px 0;
  }
  .container-two h1 {
    font-size: 22px;
    line-height: 25px; 
  }
  .container-two p {
    font-size: 13px;
    color: var(--gray);
    line-height: 22px;
    padding: 20px 0 20px 0;
  }
  .div-button {
    font-size: 15px;
  }
}